
Python Projects/Kociemba/1_6movers.txt
Python Projects/Kociemba/1_7movers.txt
Python Projects/Kociemba/7algs.json
Python Projects/Kociemba/dr7movers.txt
Python Projects/Kociemba/DR_lookup.json
Python Projects/Kociemba/phase2_lookup_moveset.json
