img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
body {
  background-color: powderblue;
}
p {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
