* {
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

body {
  background-image: url("https://images.freeimages.com/images/large-previews/a3b/website-rays-background-pattern-1637863.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
#scramble {
  font-size: 2em;
  margin-top: 0;
}
#container {
  margin-top: 10vh;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  font-size: 2em;
}

label,
option,
select {
  height: 40px;
}
select {
  width: 60px;
}

#axis {
  width: 80px;
}

#input {
  width: 80px;
  height: 35px;
}

#generate,
#generate_dr {
  height: 40px;
  width: 140px;
}

#DR {
  margin-top: 20px;
  font-size: 2em;
}

#dr_select {
  width: 100px;
}
#dr_scramble {
  margin-top: 20px;
}
