body{
background-image: url("https://wallpapercave.com/wp/wp8809513.jpg");
background-size: cover;
}

h1{
font-size: 4em;

color: white;
margin-left: 10%;

}
.boks{

background-color: gray;
width: 25%;
margin-left: 34%;
height: 10vh;
padding: 0.5%;
border-radius: 25px;
}

.add{
    margin-top: 10%;
    margin-left: 27%;
width: 40%;
height: 40vh;

border-radius: 25px;


border: solid white 2px;

background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}



.dato{
margin-left: 10%;
}
label{
font-size: 2em;
margin-left: 2%;
margin-right: 2%;

}
input{
height: 2vh;
font-size: 1.2em;

}
.inputs{
margin-top: 4%;
}

.svar{
background-color: rgb(48, 47, 47);
height: 10vh;
width: 40%;
margin-top: 12%;
border-radius: 25px;
margin-left: 30%;
padding: 0.3%;
}

button{
margin-left:48%;
transform: scale(3);
margin-top: 5%;
}

h2{
    margin-left: 45%;
    margin-bottom: -10%;
    margin-top: 10%;
    font-size: 2.5em;
    
    
}

h3{
color: white;
font-size: 3em;
display: flex;
justify-content: center;
margin-bottom: -3vh;
}


.tusen{
    margin-left: 40%;

}

img{
position: absolute;
left:40vw;
top: 18vh;
border-radius: 25px;

}

a{
font-size: 3vh;
color: white;
margin-top:2vh;
margin-left: 1vw;
}

.hovedside{
background: gray;
width: 9vw;
height: 4vh;
border-radius: 25px;
}