*{
margin: 0;
}
body, html{
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    height: 100%;
    width: 100%;
}

.wrapper{
height: 100%;
width: 100%;


}

.size{


}

.bytt{
font-size: 4vh;
padding: 5%;
}

#grunnstoff_Navn{
font-size: 4vh;
padding: 5%;

}

.knapp{
width: 20%;
height: 12%;

}

.boks{
    width: 20%;
    height: 30%;
position: absolute;
left: 40%;
top: 40%;
/* margin-top: 40%; */

}

#resultat{
    padding: 5%;
    margin-right: -10%;
    color: chartreuse;
}

#inntasting{
height: 10%;
}

#korrekt{
    position: absolute;
    top: 65%;
    left: 50%;

}

.score{
    position: absolute;
    top: 65%;
    left: 42%;
}


#feil{
position: absolute;
top: 58%;
left: 41%;
color: red;
}

#periodesystem{
    position: absolute;
    top:5%;
    left: 15%;
height: 90%;
visibility: hidden;
border: black solid 2px;
background-color: rgb(9, 148, 136);


}

.navn{
font-size: 4vh;
position: absolute;
top: 50%;
left: 20%;
}

.nummer{
    font-size: 4vh;
    position: absolute;
    top: 50%;
    left: 20%;
}

.hovedside{
    font-size: 4vh;
    position: absolute;
    top: 58%;
    left: 20%;
}

.keys{
    transform: scale(0.35);
    position: absolute;
height: 70%;
top: -15%;
left:-15%;

}

@media screen and (max-aspect-ratio: 13/9){

    html, body  {
    background:rgb(20, 138, 192);
    
    
    }

    .keys{
    transform: scale(1.5);
    position: absolute;
    left: 150%;
    top:50%;
    
    }

    .boks{
    transform: scale(2);
    margin-top: 150%;
    margin-left: 50%;
    }

    .knapp{

        width: 300%;
        height: 80%;
        font-size: 8vh;
        position: absolute;
        top: 210%;
        left: 200%;
        
        
        }

        #inntasting{
            height: 80%;
           
            transform: scale(1);
            position: absolute;
            top: 110%;
            left: 200%;

            }

            .nummer{
                position: absolute;
                top: 330%;
            
            margin-left: -10%;
            font-size: 20vh;
            
            }

            .hovedside{
                position: absolute;
                top: 370%;
                
                font-size: 20vh;
            }

            .bytt{
                position: absolute;
                top: 500%;
                left: -150%;
                font-size: 15vh;
            }

            #grunnstoff_Navn{
                position: absolute;
                top: 35%;
                left: 200%;
                font-size: 15vh;
            }

          #resultat{
            position: absolute;
            top: 35%;
            left: 700%;
            font-size: 10vh;
          }

          .score{
            position: absolute;
           
            top: 145%;
          
            font-size: 18vh;
          }

          #korrekt{
          transform: scale(2.5);
          position: absolute;
          top: 210%;
          left: 60%;
          
          }

         #feil{
         transform: scale(1);
         position: absolute;
         top: 120%;
        margin-left: 350%;
         }

         .navn{
        transform: scale(3);
        position: absolute;
        top: 350%;
        margin-left: 40%;
        font-size: 7vh;
         }
    }
